<div class="login-app">
  <form class="login-form" (ngSubmit)="login()">
    <img src="assets/gh-logo.svg" style="background: blue; height: 30px;" />
    <img src="assets/img.png" style="height: 30px"/>
    <div class="img svg"></div>
    <div class="img png"></div>
    <label>
      Username:
      <input type="text" name="username" [(ngModel)]="username" />
    </label>
    <label>
      Password:
      <input type="password" name="password" [(ngModel)]="password" />
    </label>
    <button type="submit">Login</button>
  </form>
  <div *ngIf="isLoggedIn$ | async">User is logged in!</div>
</div>
